###
# myConfig
###
rootPath: '~/git/project'
hostname: 'django.server.mydomain.com'
publicIpAddress: '123.123.123.123'
trustedIp: '127.0.0.1 123.123.123.123 192.168.1.10'
defaultUser: 'ubuntu'
user: 'django'
mySqlUser: 'sqldjango'
mySqlSampleUser: 'sqlsamplewebsite'
userPwd: 'azerty'
mySqlRootPwd: 'azerty'
mySqlUserPwd: 'azerty'
mySqlSamplePwd: 'azerty'
timezone: 'Europe/Paris'
sysadminEmail: 'sysadmin@mydomain.com'
gitName: YourGitusername
gitEmail: email@email.com
ircServer: 'irc.freenode.org'
ircChannel: 'mychan'
securityRules:
 -
    rule: 'sudo iptables -F'
 -
    rule: 'iptables -I INPUT 1 -i lo -j ACCEPT'
 -
    rule: 'iptables -A INPUT -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT'
 -
    rule: 'iptables -A INPUT -p tcp --dport 22 -j ACCEPT'
 -
    rule: 'iptables -A INPUT -j DROP'
apacheVhosts:
  -
    name: 'remiii-website-foo'
    git: 'git@github.com:Remiii/remiii-website-foo.git'
    serverName: 'foo.com'
    serverAlias: ''
    serverAdmin: 'sysadmin@foo.com'
    webFolder: 'web'
    shell: "
        export SYMFONY_ENV=prod;
        composer install --no-dev --optimize-autoloader --no-ansi --no-interaction --no-progress"
    shellSudo: "
        HTTPDUSER=www-data;
        setfacl -R -m u:\"$HTTPDUSER\":rwX -m u:`whoami`:rwX app/cache app/logs;
        setfacl -dR -m u:\"$HTTPDUSER\":rwX -m u:`whoami`:rwX app/cache app/logs"
  -
    name: 'remiii-website-kiter'
    git: 'git@github.com:Remiii/remiii-website-kiter.git'
    serverName: 'kiter.io'
    serverAlias: 'www.kiter.io'
    serverAdmin: 'sysadmin@mydomain.com'
    webFolder: 'web'
    shell: "
        git checkout -b production origin/production;
        git branch -D development;
        export SYMFONY_ENV=prod;"
    shellSudo: "
        HTTPDUSER=www-data;
        setfacl -R -m u:\"$HTTPDUSER\":rwX -m u:`whoami`:rwX app/cache app/logs;
        setfacl -dR -m u:\"$HTTPDUSER\":rwX -m u:`whoami`:rwX app/cache app/logs"
cronJobs:
  -
    name: 'Cron #1'
    minute: '35'
    hour: '6,7'
    job: 'php5 /foo/bar'
    user: 'django'
  -
    name: 'Cron #2'
    minute: '55'
    hour: '20'
    job: 'php5 /foo/bar'
    user: 'django'
